<div class="topnav">
  <!-- Propertyy binding [] interpolation {{}} -->
  <img src="assets/images/mylogo.png" [alt]="altText" width="60">
  <!-- <img src="assets/images/mylogo.png" alt="{{altText, 1+1}}" width="60"> -->
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/artists" routerLinkActive="active">Artists</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/notificationpage" routerLinkActive="active">Notifications</a>
  <a routerLink="/authpage" routerLinkActive="active">Auth</a>
  <!-- <p>{{inpText}}</p> -->
</div>


<!-- <input type="text" value="inp" [(ngModel)]="inpText">

<p>{{inpText}}</p> -->
