<div class="container mt-5">
  <h1>Sign in here!</h1>
  <div class="pt-5">
    <a
      href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=102834417830-blnrk2ovn4rhvrisn6ecdsv01988p6mp.apps.googleusercontent.com&scope=openid&redirect_uri=http://localhost:3000/auth">
      <img class="googleSignIn" src="./assets/images/googleLogin/btn_google_signin_dark_normal_web.png" alt="">
    </a>

  </div>
</div>


<!-- <script>

  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }

</script> -->
